* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-weight: bold;
}

#mainContent {
    max-width: 1000px;
}

#logo {
    font-weight: bold;
    padding: 5px;
    border: solid 3px green;
    border-radius: 20px;
}

#logoBig {
    display: block;
    font-weight: bold;
    padding: 30px;
    border: solid 3px green;
    border-radius: 50px;
    font-size: 50px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#flotteAdroite {
    float:right;
}

#cadre {
    border: solid 2px green;
    padding: 2em;
}